[submodule "Moon-Engine/vendor/spdlog"]
	path = Moon-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Moon-Engine/vendor/GLFW"]
	path = Moon-Engine/vendor/GLFW
	url = https://github.com/JonasAlmaas/glfw
[submodule "Moon-Engine/vendor/glm"]
	path = Moon-Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Moon-Engine/vendor/ImGui"]
	path = Moon-Engine/vendor/ImGui
	url = https://github.com/JonasAlmaas/imgui
[submodule "Moon-Engine/vendor/yaml"]
	path = Moon-Engine/vendor/yaml
	url = https://github.com/JonasAlmaas/yaml-cpp/
[submodule "Moon-Engine/vendor/ImGuizmo"]
	path = Moon-Engine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Moon-Engine/vendor/box2d"]
	path = Moon-Engine/vendor/box2d
	url = https://github.com/JonasAlmaas/box2d
