[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/JonasAlmaas/glfw
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/vendor/ImGui"]
	path = Engine/vendor/ImGui
	url = https://github.com/JonasAlmaas/imgui
[submodule "Engine/vendor/yaml"]
	path = Engine/vendor/yaml
	url = https://github.com/JonasAlmaas/yaml-cpp/
[submodule "Engine/vendor/ImGuizmo"]
	path = Engine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
