# Binaries
**/bin/
!vendor/**/bin/
bin-int/

# Moon files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Imgui ini files
**/imgui.ini

# Moon assset files
**/**.mmap

# Cache
Moon-Editor/Content/cache
**/__pycache__
